venv
build/
dist/
*.pyc
__pycache__
*.egg
*.egg-info
*.log
node_modules
*.sqlite
.vagrant
*.ipynb
.ipynb-checkpoints

# splinter unnecessary output
tests.*
.coverage
.coverage.*
coverage.xml
screenshots/*
*.vpp~*
*.vpp.working

.cache